.Register-model {
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);
  }
  .Register-model-content{
    margin: 5% auto;
    padding: 40px;
    width: 500px;
    background-color: bisque;
    border: 1px solid silver;
    border-radius: 10px;
  }